* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("world.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#ustkisim {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#kapsayici {
    position: absolute;
    width: 100px;
    padding: 5px;
    color: white;
}

#dots {
    display: flex;
    justify-content: space-between;
}

#nasil,
#havadurumudenetimi,
#dot {
    display: none;
}

#kapsayici:hover {
    width: 145px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 85, 121);
}

#kapsayici:hover>#havadurumu {
    color: red;
}


#kapsayici:hover>#nasil {
    display: block;
    color: red;
    padding: 5px 0;
}

#kapsayici:hover>#havadurumudenetimi {
    display: block;
}

#kapsayici:hover #dot {
    display: inline;
}

#search {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
}

#search-bar {
    border: 0px;
    outline: 0px;
    width: 500px;
    border-bottom: 1px solid white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
}

#search>i {
    color: white;
    padding: 15px;
}

#search-bar:focus {
    border-bottom: 2px solid red;
}

#cards {
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: 100vw;
}

.card:hover {
    opacity: 1;
}

.card {
    width: 100px;
    height: 75px;
    margin: 15px;
    flex-wrap: wrap;
    opacity: .7;
    position: relative;
}

#cards-orta .card,
#cards-alt .card {
    border-radius: 25px 5px;
}

.icon,
#alisveris {
    color: white;
}

#sag-icon {
    display: flex;
    align-items: center;
}

#cards-alt {
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 800px;
    width: auto;
}

#cards-orta {
    margin: 0 auto;
}

#ust {
    margin-bottom: 30px;
}

#img {
    width: 30px;
    margin: 5px;
}

.card-img {
    width: 100px;
    border-radius: 2px;
}

.youtube {
    margin: 15px 0;
}

.ali {
    height: 75px;
}

.card-x {
    display: none;
}

.card:hover .x {
    display: flex;
    justify-content: center;
    color: blue;
}

.card-x i {
    position: relative;
}

.x {
    display: none;
    position: absolute;
    top: 1px;
    right: 5px;
}

#alisverisilk {
    display: flex;
    width: 100%;
    justify-content: center;
    min-width: 700px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}

details {
    width: 800px;
}

.text {
    text-align: center;
    color: white;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#cards-ust {
    max-width: 800px;
}

summary {
    margin-top: 50px;
    margin-left: 16px;
}